@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oswald:wght@200&family=Poppins:ital,wght@0,500;1,300&display=swap');

body {
  font-family: 'Libre Baskerville'serif;
  text-align: center;
  background: #000;
  color: #fff;
}
.main-text {
  margin-top: 250px;
  background: url(restricted.jpg);
  font-size: 150px;
  color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s infinite linear;

}
@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

